
#fow-body {
	font-family: sans-serif;
}

#logotyp {
	width: 100px;
}

#fow-nav {
	margin-top: 15px;
}

#fow-nav .navbar {
	margin-bottom: 15px;
}

#fow-nav .nav {
	margin: 45px 10px 0px 20px;
}

#fow-content .carousel {
	margin-bottom: 0px;
}

#carousel-img {
	width: 700px;
}

#fow-content .carousel-caption {
	background: rgba(0, 0, 0, 0.3) none repeat scroll 0% 0%;
}

#fow-content .thumbnail {
	padding: 5px;
}

#fow-content .row {
	margin-bottom: 15px;
}

#fow-footer {
	margin-top: 70px;
	border-top: 1px solid #ccc;
	padding: 5px;
}

