
#fow-body {
	font-family: sans-serif;
}

#logotyp {
	width: 100px;
}

#fow-nav {
	margin-top: 15px;
}

#fow-nav .nav {
	margin: 45px 10px 0px 20px;
}

#fow-content .hero-unit, #fow-content .thumbnail {
	padding: 25px;
}

#fow-content .hero-unit {
	background-color: #fff;
}

#fow-content .thumbnail {
	border: 0px solid #ddd;
	border-radius: 0px;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.055);
}
